.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
    transform-origin: calc(80px + 9vw) calc(80px + 6.6vw);
}

@keyframes octocat-wave {
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-5deg)}
    40%,80%{transform:rotate(2deg)}
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation:none
    }
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }
}

.github-corner > svg {
    fill:#151513;
    color:#f3f3f3;
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
    width: calc(40px + 8vw);
	height: calc(40px + 8vw);
}
