body {
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    background: #f3f3f3;
}

.logo_path  {
    stroke: #000;
}

.logo_path {
    stroke-width: 0;
    animation: logo 12s linear infinite;
}

@keyframes logo {
    0% {
        stroke-width: 0.4px;
        stroke-dashoffset: 1200;
        fill-opacity: 0;
    }
    14% {
        stroke-width: 0.4px;
        fill-opacity: 0;
    }
    15% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke-width: 0pt;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke-width: 0pt;
    }
}

code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    cursor: text;
    background: #e2e2e2;
    padding: 0.15em 0.4em;
}

footer, .loading {
    text-align: center;
}

footer {
	margin-top: 200px;
}

@font-face {
	font-family: "Goudy Initialen";
	src: url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.eot");
	src: url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/5947490561113b55a1351948922cd12e.svg#Goudy Initialen") format("svg");
}

.home__container {
    text-align: center;
}

.library__container {
    margin-top: 120px;
}

.library__container > h1, em {
    font-family: "Times New Roman";
    text-shadow: 0 0 1px darkgray;
    color: rgb(150, 150, 150);
    font-weight: 500;
	text-align: center;
	margin-bottom: 0px;
}

.library__container__seach_notice_wrapper {
	text-align: center;
	margin-bottom: 50px;
}

p.spell
{
	/*Space it out a bit*/
	line-height: 1.2;
	letter-spacing: 2px;
	word-spacing: -1px;

	/*Make it stand out a little more*/
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;

	/*Prepare for a neat hover effect, slightly less transparent when not hovered*/
	opacity: .6;

	/*Pump up the size a bit*/
	font-size: 16px;

	/*Make it a bit prettier and book-like*/
	font-family: "Times New Roman";

	/*Keep it from spanning the entire browser window*/
	max-width: 65%;

	/*Add a thin outline around the text to make it look more like book ink
	 and all around a much nicer look*/
	text-shadow: 0 0 1px darkgray;
}

/*Reminder, this applies to the first line only, even if the browser is resized
and text is moved to a different line*/
p.spell::first-line
{
	/*Move the first line up more*/
	line-height: 1.2;

	/*Make it upper and lower capitalized font*/
	font-variant: small-caps;

	/*Always have it at maximum opacity*/
	opacity: 1;

	/*Have the first line a darker ink outline to make it stand
	 out more*/
	text-shadow: 0 0 1px black;
}

/*Make the first letter the signature old storybook look*/
p.spell::first-letter
{
	line-height: 0.82;
	/*Change it to a really cursive effect, thanks to
	 Google Web Fonts for the "Dancing Script" font*/
	font-family: 'Goudy Initialen';

	/*Really pump up the size more*/
	font-size: 70px;
	float: left;
}

/*Make the simple hover effect really cool*/
p.spell:hover
{
	/*Bring it out more on hover but keep it still faded some
	 for the additional effect. Works really well for having the page
	 background bleed out some*/
	opacity: .8;
}

/*This improves selection coloring to stay within theme*/
p.spell::selection
{
	/*Invert the colors upon selection*/
	background-color: rgb(50, 50, 50);
	color: rgb(150, 150, 150);

	/*Remove text shadow, it just makes the selected text
	 look a little blurry*/
	text-shadow: 0 0 0;
}

.library__container__spell_list .spell_wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
